body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(assets/5425010.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden; /* Prevent horizontal scroll */
}

#navbar {
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: top 0.3s;
    display: flex;
    overflow-x: hidden; 
    align-items: center;
}

#navbar a {
    display: block;
    color: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 16px; 
    flex: 1; 
}

#navbar a:hover {
    background-color: #7993e8;
    color: black;
}

header {
    background-color: #8da7ff;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo {
    margin-right: 20px;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto; 
}

main {
    padding: 2em;
    margin-top: 70px;
}

#join {
    display: flex;
    justify-content: center;
}

#join img {
    height: auto;
    display: block;
    margin: 0 auto;
    width: 150px;
    transition: background-color 0.3s, transform 0.3s;
}

#join:hover {
    background-color: transparent;
    transform: translateY(-2px);
}

.content-div {
    font-size: larger;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2em;
    border-radius: 5px;
    margin-bottom: 1em;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow-x: hidden; 
}

.content-div h1,
.content-div h1 {
    margin-top: 0;
}

nav ul li a:hover {
    background-color: #555;
}

.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 20px;
    justify-items: center;
}

.member {
    text-align: center;
    width: calc(25% - 20px); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
}

.image {
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px; 
    background-color: #fff;
    border: 2px solid #ddd;
}

.member-info {
    text-align: center; 
    white-space: nowrap; 
}

.member-info p, .member-info a {
    display: inline; 
    margin: 0;
    padding: 5px 0;
}
.member-info a {
    text-decoration: none;
    color: inherit;
}
.member-info a:hover {
    text-decoration: underline;
footer {
    background-color: #8da7ff;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 1em;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
    flex: 1 1 auto; 
    max-width: 64px; /
}

.social-media a img {
    width: 100px;
    height: auto;
}

social-media a:hover {
    text-decoration: underline;
}

/* Media Queries for smaller devices */
@media (max-width: 1200px) {
    .team-container {
        grid-template-columns: repeat(3, 1fr);
    }

    #navbar a {
        font-size: 14px;
        padding: 8px;
    }
    .social-media {
        gap: 50px;
    }
}

@media (max-width: 992px) {
    .team-container {
        grid-template-columns: repeat(2, 1fr);
    }

    #navbar a {
        font-size: 12px;
        padding: 6px;
    }
    .social-media{
        gap: 40px;
    }
}

@media (max-width: 768px) {
    header .logo {
        width: 200px;
    }

    .content-div {
        padding: 1em;
    }

    .team-container {
        grid-template-columns: 1fr;
    }

    .social-media {
        gap: 30px; 
    }

    .social-media a img { 
        width: 80px;

    }

    #navbar a {
        font-size: 10px;
        padding: 5px;
    }
}

@media (max-width: 576px) {
    .team-container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .social-media{
        gap: 25px;
    }

    .image {
        width: 80px;
        height: 80px;
    }
    .social-media a img {
        width: 70px;
    }

    #navbar a {
        font-size: 9px;
        padding: 4px;
    }
}


